/* Estilos generales de toda la App */


/* Acelerar animaciones */

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}


/* Cursor Pointer */

#themecolors .selector,
.cursor {
    cursor: pointer;
}


/* Imagen Previa en Perfil de Usuario */

.img-avatar {
    height: 200px;
    width: 200px;
}


/* Tamaño de imagen a mostrar en la Tabla de los Usuarios/Médicos/Hospitales en Mantenimientos */

.avatar {
    border: 1px solid grey;
    width: 30px;
    border-radius: 100%;
}


/* Tabla donde se muestran los Usuarios/Médicos/Hospitales en Mantenimientos */

.w100 {
    width: 100px;
}


/* Combo donde se muestran los Roles de Usuarios/Médicos/Hospitales en Mantenimientos */

.w140 {
    width: 140px;
}


/* Tabla donde se muestran la imagen del Médico en Mantenimientos/Medicos/Medico */

.w200 {
    width: 200px;
}


/* Estilo del Modal para cargar imágenes en Mantenimientos */

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

.oculto {
    display: none;
}