/* Estilos generales de toda la App */


/* Acelerar animaciones */

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}


/* Cursor Pointer */

#themecolors .selector,
.cursor {
    cursor: pointer;
}


/* Imagen Previa en Perfil de Usuario */

.img-avatar {
    height: 200px;
    width: 200px;
}